.input-control {
    border: none;
    outline: none;
    height: 60px;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    color: #039BE5;
}

.time-control {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.time-lose {
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    height: 140px;
    font-size: 48px;
    color: #039be5;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}